header {
  background-color: white;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}

header img {
  width: 40px;
  height: 40px;
  margin: 0 30px;
}

header h1 {
  font-size: 2rem;
}
